name: Pull Requests

on:
  pull_request:
    branches:
      - main
      - track/*

jobs:
  pull-request-region:
    name: PR Region
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@v0
    secrets: inherit
    with:
      charm-path: maas-region
      juju-channel: 3.6/stable
      python-version: "3.10"
      provider: lxd
