name: Auto-update Charm Libraries
on:
  # Manual trigger
  workflow_dispatch:
  # Check regularly the upstream every four hours
  schedule:
    - cron: "0 0,4,8,12,16,20 * * *"

jobs:
  update-lib-region:
    name: Check libraries
    uses: canonical/observability/.github/workflows/charm-update-libs.yaml@main
    secrets: inherit
    with:
      charm-path: maas-region

  update-lib-agent:
    name: Check libraries
    uses: canonical/observability/.github/workflows/charm-update-libs.yaml@main
    secrets: inherit
    with:
      charm-path: maas-agent
